[2013-08-22 15:57] julianlam opened #1 "Username mentions don't work on new posts"
The proper linkification only happens on topic load or page refresh.

This is due to an issue upstream:

https://github.com/designcreateplay/NodeBB/issues/194

[2013-08-22 16:35] julianlam opened #2 "A mention should initiate a notification for the mentioned user"

[2013-08-22 18:42] #1 closed, assigned to julianlam

[2013-09-03 08:05] labe-me opened #3 "@username different than @userslug"
Hello,

My username is labe_me and my userslug is labe-me.

@labe-me works but I would expect @labe_me to work too since it's the public name.

Mentions check that the user exists with User.exists which only test the userslug and not the username.

Regards
Laurent

[2013-09-03 23:54] #2 closed, assigned to julianlam

[2013-09-03 23:58] julianlam opened #4 "Do not refer to modules outside of the plugin root"
It seems to be bad behaviour...!

[2013-09-04 17:38] #4 closed, assigned to julianlam

[2013-09-28 20:59] julianlam opened #7 "Creating a new topic with a mention seems to cause NodeBB to crash"
Seems to be a regression

[2013-09-28 21:42] #7 closed, assigned to julianlam

[2013-10-17 23:58] julianlam opened #8 "Mentions need not be case-sensitive"
Currently, if I want to mention somebody, I have to match the user slug _exactly_, meaning "@Julian" will not resolve, but "@julian" will.

When comparing, compare the input as well as a sluggified version, if no match comes up.

[2013-10-18 02:40] #3 closed, assigned to julianlam

[2013-10-18 02:40] #8 closed, assigned to julianlam

[2013-10-18 02:45] julianlam opened #9 "Online/Offline indicator"

[2013-10-25 14:34] julianlam opened #10 "New syntax for spaced names"
Also accept `@[username]`. Anything between the `[]` gets distilled down to a user-slug.

[2013-11-15 17:15] confuser opened #11 "Auto complete"
It would be great if it would suggest names as you typed them. Some sort of auto complete.

[2013-11-27 21:23] barisusakli opened #12 "upgrade to fontawesome 4 icons"

[2013-11-28 02:05] #9 closed, assigned to julianlam

[2013-11-28 02:28] #12 closed, assigned to nobody

[2013-12-11 18:35] psychobunny opened #13 "Don't mention if in quotes"
ex. http://community.nodebb.org/topic/154#1837

I also get a notification saying he mentioned me as well. If the regex somehow manages to just ignore parsing this altogether, that would solve the notification problem too

[2014-01-07 03:25] psychobunny opened #14 "able to mention self - gives me notifications"
![lolol](http://i.imgur.com/DGFO8kW.jpg)

[2014-01-20 20:25] Schamper opened #20 "Username mention which contains part of other username causes trouble"
Say you want to mention `@Test2`, but there's also a user called `Test`. Test2 will be ignored and the user will be mentioned as `@Test`2

[2014-01-20 20:31] #10 closed, assigned to julianlam

[2014-01-20 20:31] #11 closed, assigned to nobody

[2014-01-20 21:12] #14 closed, assigned to nobody

[2014-01-23 17:33] #20 closed, assigned to nobody

[2014-01-23 17:33] #13 closed, assigned to nobody

[2014-01-23 17:34] psychobunny opened #21 "Selecting users in dropdown"
pasta from skype

[2014-02-10 12:32] tedr56 opened #23 "Showing @username"
It don't think the @ is usefull?

[2014-02-10 19:26] #23 closed, assigned to nobody

[2014-02-11 00:17] #21 closed, assigned to julianlam

[2014-02-12 21:13] psychobunny opened #24 "Don't include your own @username in dropdown"
:dash:

[2014-02-13 16:38] #24 closed, assigned to nobody

[2014-02-25 22:39] barisusakli opened #26 "mentions in quotes still seem to send notifs"

[2014-04-04 00:15] julianlam opened #27 "Mentions autocomplete should not slugify the name"
from designcreateplay/NodeBB#1339 via @a5mith:

The sluggification is too extreme, so the test case of a user named `Test.ing` will end up being rendered as `test-ing`, and not resolve to the user in question. Cases and unicode characters should be preserved, only spaces should be collapsed.

[2014-04-04 21:16] #26 closed, assigned to nobody

[2014-04-04 21:16] #27 closed, assigned to julianlam

[2014-05-21 21:27] psychobunny opened #28 "Hitting "reply" on a post while already having a composer open should add a mention"
Just like if you click on "quote" while the composer is already open, the quote shows up. As reported here: https://community.nodebb.org/topic/1569/nodebb-plugin-mentions-cards-show-cards-when-hovering-over-mentions#11740

[2014-11-26 22:54] odensc opened #40 "Relative URL problem"
[Line 108](https://github.com/julianlam/nodebb-plugin-mentions/blob/master/library.js#L108) gets "relative_url" from the config but it's called "relative_path", this makes the mention links not have the relative path in them.

[2014-11-27 00:18] #40 closed, assigned to nobody

[2015-02-07 02:18] barisusakli opened #44 "`/` prevents usernames from becoming links"
Certain content stops usernames from becoming links, in this case its the `/`

[code]

[2015-02-23 21:58] pitaj opened #45 "Mention suggestions aren't a high enough layer"
https://github.com/NodeBB/NodeBB/issues/2613

If it's fixed, close that issue.

[2015-02-23 21:58] #45 closed

[2015-02-23 22:10] barisusakli commented on #45
Is this really fixed?

[2015-03-03 14:35] MegaGM opened #46 "Group's mention in posts doesn't work if group name not in English"
![](http://i.imgur.com/Fva4wW2.png)

[2015-03-03 15:56] MegaGM commented on #46
https://github.com/julianlam/nodebb-plugin-mentions/pull/47

[2015-03-03 21:28] #46 closed

[2015-03-03 21:46] julianlam commented on #46
:smile:

[2015-03-03 21:57] MegaGM commented on #46
![](http://smayly.ru/gallery/ava/Kanade/58.jpg)

[2015-03-12 17:54] barisusakli opened #48 "a@b.com matches as mention"
matches as a mention with the current regex

`regex = XRegExp('(@[\\p{L}\\d\\-_.]+)', 'g'),`

[2015-03-13 18:57] barisusakli opened #49 "remove jquery.textcomplete"
and up nbb compat version to 0.7.0 ?

[2015-03-13 19:20] #49 closed

[2015-03-16 15:20] tedr56 opened #50 "Handle username changes"
I wonder if NodeBB have a hook in case of username modification.

In that case, it would be usefull to change all post mentions to the new username.

[2015-03-16 16:37] julianlam commented on #50
We *could* add it, but the mentions plugin is just a transparent layer. It does not record the pids containing mentions, so this would add significant complexity to the plugin if we wanted to handle username changes...

[2015-06-30 13:03] ahthamrin opened #54 "use case for group mentions?"
Hi

I'd like to know the use case for group mentions as my understanding are:
1. it does not generate notifications
2. it exposes hidden groups

If my understanding are correct, then I'd like to see the group mentions removed.

Thanks

[2015-06-30 18:37] barisusakli commented on #54
1. Mentioning a group should send a notification to all the members.
2. Hidden groups shouldn't show up in the mentions dropdown.

[2015-07-02 04:55] ahthamrin commented on #54
I tried both use cases and I found that
1. no notification for group members when I mentioned the group
2. the mentions dropdown showed hidden groups.

Would you check?
Thanks

[2015-08-06 20:20] #54 closed

[2015-08-06 20:22] barisusakli commented on #50
How about we store user IDs in the raw post content for mentions? IE post content has @123 stored and when its rendered it gets replaced by the username of uid 123.

Obviously its a breaking change.

[2015-08-06 20:23] barisusakli commented on #44
Doesn't happen anymore.

[2015-08-06 20:23] barisusakli commented on #44
Nevermind it happens if they are all on a single line.

[2015-08-06 20:23] julianlam commented on #50
That might work, although we'd want to use a syntax that wouldn't _normally_ be a regular username :smile:

@~12345

[2015-08-06 22:47] psychobunny commented on #50
Probably want to avoid syntax that markdown understands as well, I can already sense the potential explosions :D

[2015-08-11 06:55] jujokini opened #56 "Console log prints "MongoError: skip requires an integer""
I got error "MongoError: skip requires an integer" with this plugin on 0.7.x branch
    at Function.MongoError.create (/work/node_modules/mongodb/node_modules/mongodb-core/lib/error.js:31:11)
    at Cursor.skip (/work/node_modules/mongodb/lib/cursor.js:498:49)
    at getSortedSetRange (/work/src/database/mongo/sorted.js:130:5)
    at Object.module.getSortedSetRevRange (/work/src/database/mongo/sor

[2015-08-11 15:38] barisusakli commented on #56
Can you downgrade the plugin to 0.11.8.

[2015-08-12 07:00] jujokini commented on #56
Thanks for the tip. NodeBB package.json on top level has  "nodebb-plugin-mentions": "^0.11.7" and this pulled 0.11.9 for me. I changed it to "nodebb-plugin-mentions": "0.11.8" and now it works.

[2015-08-12 07:01] #56 closed

[2015-08-12 10:55] julianlam commented on #56
@barisusakli what's the nature of this bug? If it requires a newer version
of NodeBB, then it should be a major version, no?

On Wed, 12 Aug 2015 03:01 jujokini <notifications@github.com> wrote:

[2015-08-12 11:58] jujokini commented on #56
I did delete the "npm-shrinkwrap.json" file. This could have led to the situation where the bug occured.

[2015-08-12 14:55] barisusakli commented on #56
@julianlam yeah I should have released a major version of this plugin instead of a minor increase.

[2015-08-12 15:00] julianlam commented on #56
Will do. v0.11.9 no longer exists in npm, v1.0.0 only available for v0.7.3 (when it is released later today [probably])

[2015-09-04 03:37] ladder1984 opened #57 "The url is localhost."
when I @XXX,I get the url http://localhost:4567/user/XXX,How to change the 'localhost' to my domain?

NodeBB v0.7.3.
nodebb-plugin-mentions 1.0.0

[2015-09-04 06:05] julianlam commented on #57
Update your config.json file

[2015-09-04 06:05] #57 closed

[2015-09-15 18:59] drewdotpro opened #60 "Support nodebb-plugin-composer-redactor"
This plugin only binds and interacts with the default composer currently.

[2015-09-23 13:49] barisusakli commented on #48
https://github.com/julianlam/nodebb-plugin-markdown/issues/51

if there is a user named `derp` then the following renders incorrectly

`<email@derp.com>`

results in

`@derp" rel="nofollow">email@exodo`

[2015-09-23 15:11] julianlam commented on #48
Bug opened March 12 :laughing:

[2015-09-23 15:11] #48 closed

[2015-09-23 15:11] julianlam commented on #48
v1.0.3

[2015-10-24 16:27] barisusakli opened #61 "certain content doesn't generate mentions"
Try with

[code]

insert your username as the last mention and make a post with a test account. you don't get a mention notification.

[2015-10-24 17:58] #61 closed

[2016-02-15 09:01] shaaati commented on #60
+1, I would really appreciate this. I personally love the basic composer but my community prefers a WYSIWYG style, and the mentioning feature should definitely work in there.

[2016-03-19 08:44] barisusakli opened #63 "crash in parseRaw"
19/3 08:27 [1117] - error: TypeError: Cannot read property 'match' of null
    at Object.Mentions.parseRaw [as method] (/home/baris/node-forum/node_modules/nodebb-plugin-mentions/library.js:172:27)
    at /home/baris/node-forum/src/plugins/hooks.js:103:12
    at /home/baris/node-forum/node_modules/async/lib/async.js:375:13
    at Immediate.iterate [as _onImmediate] (/home/baris/node-forum/node_mod

[2016-03-19 08:46] #63 closed

[2016-03-24 19:51] barisusakli opened #65 "limit # of mentions in a single post"
maybe no more than 5 allowed

https://github.com/NodeBB/NodeBB/issues/4395

[2016-04-14 02:43] bdharrington7 opened #66 "collapse characters for mention autocomplete"
Migrated from https://github.com/NodeBB/NodeBB/issues/3185

I don't know how feasible this is, but just putting this here to bring attention to it, and for better i18n support...

I noticed that when I tried to @mention a user with an 'é' character by typing a normal 'e', it doesn't show up:
![image](https://cloud.githubusercontent.com/assets/4553795/7806028/a8036192-0330-11e5-9eba-3286f88d9e93.pn

[2016-04-15 13:59] asdf-tdwtf commented on #65
Please make sure you make this configurable if you implement it. If you reply to multiple posts at once or play forum games, you might want to be able to mention more than 5 people at the same time.

Also, I don't the mentions are the actual root cause of the bug I reported. It seemed more like a bug with frontend rendering than the mentions themselves.

[2016-04-18 17:58] julianlam commented on #65
Yeah, I'm not entirely sure this should be "resolved" in mentions, only since the rendering issue was due to the browser (maybe?) flipping it's tables.

Though in the above case with mafia, you'd probably want to put all of those users in a user group so they can be mentioned via a single tag.

[2016-05-05 18:28] frissdiegurke opened #68 "notification links to user profile"
The `mentions:user_mentioned_you_in` notification has a link to the user profile instead of the post as you would expect it.

[2016-05-05 19:06] #68 closed

[2016-05-08 19:32] BenLubar opened #69 "mentions replaced inside code blocks"
From @NedFodder (apapadimoulis/what-bugs#121)

Sandbox thread: https://what.thedailywtf.com/topic/19885/mentions-in-code-blocks

[2016-05-08 19:35] BenLubar opened #70 "certain (all?) punctuation should be allowed before a mention"
apapadimoulis/what-bugs#123

[code]

[2016-05-10 18:27] BenLubar opened #71 "mentions replaced inside links"
Steps to reproduce:

1. make a topic with a mention before the end of its title
2. reply to the topic, quoting the first post
3. the link to the topic is cut off by the mention's nested link

[2016-05-10 19:02] julianlam commented on #71
:clap:

[2016-05-11 20:08] #69 closed

[2016-05-20 07:34] Schamper opened #72 "When mentioned by group, notification should say so instead of being targeted to you."
Currently, when a group is mentioned that you're a member of, you receive a notification. However, this notification is in the format of "{user} mentioned _you_ in {topic}". I think when a group has been mentioned the notification should say something like "{user} mentioned {group} in {topic}".

[2016-05-22 23:11] lestus opened #73 "takes to localhost"
I 'love' your one-line comment of 'change your config.json'. 'Very Helpful', maybe to someone who already knows how, why and where to configure said file, in which case your 'helpful' post is already moot, because it's only helping people who already know what the solution is.. wtf.
how about a proper breakdown step by step, where the hell I find this file, what I need to edit (that i can guess),

[2016-05-22 23:20] julianlam commented on #73
The file is in your NodeBB root. Restart NodeBB after you edit it.

Closing this as it is not an issue.

[2016-05-22 23:20] #73 closed

[2016-05-22 23:24] julianlam commented on #73
If you need additional help, you're advised to post in the community support forum as your issue will be seen by more people who can help.

https://community.nodebb.org

[2016-06-06 04:07] bdharrington7 opened #75 "Option to email an @mentioned user"
It would be great to have the option to have an @mentioned user receive an email when they are mentioned. In my use case, there are some members that spend some long periods of time away from the forum, and I would like to have a mention notify them in their inbox. Currently the only (core supported) ways of notifying a member through e-mail is by replying in a thread that they've commented in or

[2016-06-06 18:58] julianlam commented on #75
Makes sense, thanks for the suggestion :)

[2016-06-16 21:32] yamikuronue opened #76 "Feature request: separate group mentions from user mentions"
I'm a moderator on a NodeBB instance, and I typically get a number of mention notifications in a day. I'd like to be able to distinguish in the notification when someone typed @mods and when they typed @yamikuronue so I know if they wanted me specifically or any moderator (as the latter is usually answered by the time I get there).

[2016-06-20 18:46] BenLubar commented on #76
/cc @pauljherring apapadimoulis/what-bugs#143

[2016-06-20 18:54] pauljherring commented on #76
Not gone upstream yet?

[2016-06-20 18:55] BenLubar commented on #76
This *is* the upstream ticket.

[2016-06-20 18:56] pauljherring commented on #76
Ah - I clearly haven't had enough ethanol...

[2016-06-22 05:36] xidui opened #77 "mention not works well with other kind of notifications."
Every time I disable this plugin, other notifications show well except `notifications:user_mentioned_you_in`.

While every time I enable this plugin, only mention works well, other notifications do not show properly.

[2016-06-22 05:44] xidui commented on #77
* Enable mention
![image](https://cloud.githubusercontent.com/assets/4591091/16255777/57dde4be-387f-11e6-9111-9e83479e1a40.png)

* Disable mention
![image](https://cloud.githubusercontent.com/assets/4591091/16255789/78f3283a-387f-11e6-873a-fd145464fba6.png)

[2016-06-29 20:23] abarker-TDWTF commented on #76
Unfortunately, I suspect this is a duplicate of [issue #72](https://github.com/julianlam/nodebb-plugin-mentions/issues/72).

[2016-06-29 20:30] llouviere opened #79 "Feature Request"
A symbol similar to @ but only renders the user/group/whatever link and does not issue a notification.

Benefits:

1. Autotyping [@]unreadableusername
2. Tracing
3. Custom labels (our admin made this work to issue alter egos during a forum game) @dude<sup>, The</sup>
4. Forum Faq: The site mods are [@]mods. Admins are [@]admins.
5. I believe that [@]user is a spammer, look through his posts.
6. Pl

[2016-07-01 17:10] tehspaceg commented on #76
I'd like to take this a step further and be able to disable notifications for groups on a per user basis. Lets say UserMcGee is in a group that we use solely to gain access to another category, that person may not care about notifications. GroupMcAdminPants might want to continue getting notifications.

[2016-07-01 19:02] BenLubar commented on #76
@tehspaceg maybe it would be best to make receiving mentions for a group an opt-in thing per-group? I can see how mentioning `@administrators` or `@People-Interested-In-NodeBB-Development` would be useful whereas mentioning `@some-group-with-a-thousand-members-that-grants-access-to-a-category` would be a bad thing.

[2016-07-01 20:56] tehspaceg commented on #76
@BenLubar that would be the perfect functionality. Opt-in to receive notifications from certain group mentions.

[2016-07-06 08:29] xidui commented on #77
It turned out that it is the version mismatch.

[2016-07-06 08:29] #77 closed

[2016-07-19 15:48] #72 closed

[2016-07-19 15:49] #76 closed

[2016-08-01 18:30] exomarty opened #81 "add @OP to mention the thread starter"
Wirting @OP will notify thread starter.
functionality heavily used over the Internet

[2016-08-02 18:09] julianlam commented on #81
I've never seen this used, although this is just one point of view. What sites do this?

[2016-08-02 18:17] pitaj commented on #81
I don't see this as useful, especially when the OP gets notified about replies by default anyways.

[2016-08-02 18:19] pitaj commented on #79
Maybe `+` or `#`

[2016-08-02 18:20] pitaj commented on #71
Is this fixed or not?

[2016-08-02 18:42] exomarty commented on #81
@pitaj i have that disabled always xD
this doesnt have to dot with that anyways, instead of writing @pitaj i write @op and i mention thread opener

Uses to write @op:
- i´m at the end of the thead and i dont have to go back to remember who opened the thread
-  i dont remember exact nickname
- i´m lazy
- i want to go fast

so its just a shortcut, if you write @op it will write @pitaj on pitaj threa

[2016-08-02 18:52] BenLubar commented on #71
This was fixed by #74.

[2016-08-02 18:52] #71 closed

[2016-08-02 18:57] julianlam commented on #81
Also if you have a user named "op", then you won't be able to mention them...

[2016-08-02 19:03] exomarty commented on #81
lol it could be a reserved word on user registration or just @ and one character, by default users length is 2 characters

[2016-08-02 19:16] exomarty commented on #81
it if cant be @op then @N for Nodebb or @O or @@ :dancer:

http://www.urbandictionary.com/define.php?term=op

[2016-08-11 16:36] evoixmr commented on #75
Can we also add this for group mentions? We have some members that do not check till they receive an email.

[2016-08-16 07:30] huegelc commented on #75
Would love to see that feature implemented. Thank you

[2016-08-20 15:56] BenLubar opened #83 "unescaped regular expressions"
https://what.thedailywtf.com/topic/20703/template-js-testing

I can use `@ben..........lubar` to mention a user named `ben lubar`, but I can also type `@ben "HI MOM" lubar` in the same post and it'll be converted to a mention.

[2016-08-27 13:04] barisusakli commented on #50
For this to work we need to change what we insert into the composer
Instead of `@psychobunny ` we should put in `[@mention ](/uid/3)` then even if the user changes their username we can replace `mention` with their current userslug using the uid.

[2016-09-21 08:16] barisusakli opened #85 "ability to disable group mentions"

[2016-12-01 03:59] michaelpfaff commented on #75
Also agree this seems like an important enhancement that would help ping folks when they are mentioned but might not check in regularly.

[2016-12-27 05:21] YanhaoMo opened #88 "send him/her a email when @him/@her"
When I @ someone in NodeBB, I want him/her will receive a email about the mention on his/her offline.
But I haven't found how to config this, Or this has not been implemented yet?
Can you add this feature please?

[2017-01-13 13:37] jarey opened #89 "User slug not generating link to user profile on a post reply."
Just saw the issue on the community.nodebb.org site:

Can be reproduced/seen on this post: https://community.nodebb.org/topic/10098/loading-nodebb-in-my-site-through-iframe

I think the problem should be the space or ' character present in the username but don't really know.

Thank you!
PS: Related to #44

[2017-01-16 15:07] DomLennonZA commented on #85
I am currently working on this. To achieve this I am creating a management page for the ACP. I am having issues getting my template to be copied over when building NodeBB. I have added `"templates": "./public/templates"` to the `plugin.json`, and have added a file called `mentions,tpl` which can be found in `template/admin/plugins/`. When running ./nodebb build, or just running the app in general,

[2017-01-16 17:11] pichalite commented on #85
@DomLennonZA Is your checked in to github so we can check and point out any mistakes?

[2017-01-17 15:04] DomLennonZA commented on #85
@pichalite False alarm. I had a bit of the Monday's and it seems I just had the folder marked as read-only :P

[2017-01-20 03:38] michaelpfaff commented on #88
I don't think think this feature currently exists but agree it should be a high priority.

[2017-06-21 16:36] julianlam commented on #89
Thanks, yes it is the space and `'`... specifically, when you hit "reply", it should properly slugify the name, but it doesn't quite match the server-side one...

[2017-06-21 16:57] #89 closed

[2017-06-21 16:58] julianlam commented on #85
Done now 😄

[2017-06-21 16:58] #85 closed

[2017-06-21 16:58] julianlam commented on #88
Dupe of #75

[2017-06-21 16:58] #88 closed

[2017-06-29 23:57] psychobunny opened #92 "Font size for mentions is off"
[code]

IMO drop font size, and let the theme handle it. Right now in persona, mentions are a touch smaller than the rest of the text, which is weird.

Might be an artifact from back in the day when mentions had this border and padding shenanigans going on haha

[2017-07-06 15:07] julianlam commented on #92
👍  iirc font size was set because it used to show a little badge in place of the username (plus online/offline status).

[2017-07-06 15:11] #92 closed

[2017-07-25 20:59] psychobunny opened #93 ""Allow mentioning User Groups" should be default on"
Perceived regression when upgrading because it gets disabled automatically

@barisusakli I guess?

[2018-03-22 12:27] logust79 opened #98 "Do we have a Tag level notification?"
I am aware that there is a plugin to implement category level notification. But can user choose what tags they want to watch?

Thanks!

[2018-03-22 12:27] #98 closed

[2018-03-27 20:25] SaitDev opened #99 "Default mention notification setting"
Usually, the expected behave when we mention someone is wanna get their attention. But by default mention notification setting is "Do nothing", each user will need to change this themself on their setting page. Most new user will never know this 😞

Can we have an option on admin plugin page to set default notification for mention? or at least by default the setting is "Only notification" for all u

[2018-03-27 20:31] pitaj commented on #99
You can configure the defaults for all of those settings in the ACP > Settings > User > **Default Notification Settings**

[2018-03-27 20:42] barisusakli commented on #99
Looks like mentions isn't added in that default settings page, I will fix it

[2018-03-27 21:02] #99 closed

[2018-05-23 18:16] FaizanZahid commented on #93
How can we mention user groups so that the group of users can get notified from just a single mention?? This is something really cool if this is possible

[2018-05-31 16:10] uplift opened #101 "Admin: Previous disabled groups should be selected"
When returning to the mentions plugin admin page, previous disabled groups in the select list should be pre-selected so admins can see if a group is disabled or not already.

[2018-07-20 15:03] uplift commented on #101
Closing this as it was an error in one of our plugins

[2018-07-20 15:03] #101 closed

[2018-09-24 17:17] barisusakli commented on #44
Seems to work now https://community.nodebb.org/topic/12734/test-topic/3

[2018-09-24 17:17] #44 closed

[2018-11-02 20:56] ic3fresh opened #105 "Mentions not working while ignoring topic"
Hi,
As I can see the mentions do not work for topic that you ignore. I think they should be "over" and give notification to person even if he has topic ignored.

Can you please check if this is correct?

[2018-11-12 21:10] julianlam commented on #105
v2.3.0

[2018-11-12 21:11] #105 closed

[2018-11-12 21:52] julianlam commented on #105
Oh, just to be clear, I didn't change the logic, I added a toggle in the Mentions plugin settings allowing you to override a topic ignores and send a mention notification regardless.

[2018-11-12 21:55] ic3fresh commented on #105
Yeah, I can see that :) This seems to be even better fix. Thank you very much!

[2018-12-17 13:43] PostMidnight opened #106 "Add striptags prior to mention text search"
See description here:
https://community.nodebb.org/topic/13449/nodebb-plugin-mention-fix-allowing-redactor-to-send-notifications-to-mentioned-groups

1. In package.json add the lib:
`"striptags": "^3.1.1"
`
2. In library.js add striptags:
Line 20:
`var striptags = require('striptags');
`
Line: 80:
`var cleanedContent = Mentions.clean(striptags(postData.content, [], '\n'), true, true, true);
`

[2018-12-18 13:19] PostMidnight commented on #106
Thank you! , this revision will work fine with en, but not with any rtl languages, as the space comes before the word (in redactor: <p><space>noitnem@<p>. The current Regex will fail on this string. Please consider swapping the tag with '/n' as previously proposed.

[2018-12-18 17:13] julianlam commented on #106
@PostMidnight Ah yes, thanks, will take a look.

[2018-12-20 18:32] julianlam commented on #106
Try with v2.5.0, should work a little better.

[2018-12-20 18:33] julianlam commented on #83
Yes, that is potentially an issue... we take the match, and slugify it, so `ben.........lubar` is collapsed to `ben-lubar` which is a valid slug.

:thinking: Opinions welcome.

[2018-12-20 18:51] PostMidnight commented on #106
Just did, thank you so much!
I am sorry but the new regex is a bit inconsistent, works on some strings, rejects others.
Issue is spotted with Redactor and RTL languages.
Kindly consider just replacing <p> and </p> with previous regex. It seems to work fine, as far as I can tell.

[2018-12-20 19:16] julianlam commented on #106
Please provide broken strings.

[2018-12-20 19:44] PostMidnight commented on #106
With pleasure:
Lines below refer to library.js. Note the space before the "\</p\>"
Line 74: postData = "\<p\>@noitnem \</p\>"
Line 75: cleanedContent = "\<p\>@noitnem \</\p\>"
Line 76: matches = "\>@noitnem"

[2018-12-20 19:50] julianlam commented on #106
Seems to be working fine to me:

![image](https://user-images.githubusercontent.com/923011/50307500-984eff00-0466-11e9-8b01-bb1367031dcd.png)

Except perhaps for the odd issue with the `@` appearing at the start vs the end of the word, but I won't pretend to understand how RTL works.

[2018-12-20 20:08] PostMidnight commented on #106
That's odd, the issue is reproducible. The regex does matches but the following produces empty uids array. I am trying to debug.

[code]

[2019-01-04 21:00] pitaj opened #107 "Code blocks are not ignored"
Mentions inside code blocks are not ignored by this plugin.

See https://github.com/NodeBB/nodebb-plugin-emoji/blob/master/lib/parse.ts#L81 for a regex that could help with this.

Here's an example post: https://community.nodebb.org/post/72224

NodeBB/NodeBB#7132

julianlam/nodebb-plugin-markdown#100

[2019-01-07 15:40] #107 closed

[2019-01-07 15:41] julianlam commented on #107
v2.5.1 @pitaj -- unfortunately regex changes don't work because it's not the capturing that's the problem, it's the actual hyperlinking that is at fault.

[2019-01-07 15:52] julianlam commented on #107
v2.5.2 also fixes an issue with notifications going out if mentions are in a code block, so thanks for the heads up anyway :laughing:

[2019-01-09 19:22] PostMidnight opened #108 "Groups: Use "Title of Members" instead of "Name""
Current status:
The mention plugin currently uses the "Name" field

Potential improvement:
Use the "Title of Members" field instead.

For foreign languages in which the character set is not a, b, c..., it is preferable to keep the group name in English (so as the JS code and database searches won't have to deal with UTF-8 strings), while the translation is kept in "title of members" input.

[2019-01-09 20:42] julianlam commented on #108
This makes a lot of sense, will do.

[2019-01-11 20:30] PostMidnight commented on #108
A side point: it may be preferable to assign groups with groupid (gid), a unique integer that can be queried, like you can do with uids. Its much easier to process numbers than strings...

[2019-03-05 12:31] PostMidnight opened #111 "Mention dialog box does not open in Iphone + Redactor"
Hi Developers,
Its simple to reproduce - even in google chrome IPHONE emulator.
On a site having Redactor as editor, just type @ and note the dialog box does not come up.
Let me know should you need additional information,
JJ.

[2019-05-17 17:13] ic3fresh opened #112 "Mention everyone that posted in topic"
I've thought that it would be a very nice feature to mention everyone that have posted in topic.

Something like @topicwriters or @intopic @topic would have been nice.

What do you think?

[2019-05-17 17:37] julianlam commented on #112
Seems like something that could be ripe for abuse, to be honest. Imagine if you joined a 10 year old thread and typed @everybody and a zillion notifications went out!

[2019-05-17 17:46] ic3fresh commented on #112
Well, this is actually a good point, but maybe it can be done to set it in setting to on/off, or set max topic age to mention @everybody?

[2019-08-19 13:13] alfazaz opened #113 "Bad matchers in Mentions.split + a solution proposed"
Hello !

I found something wrong in this plugin. In Mentions.split function, there is the following matcher :
`
var matchers = [isMarkdown ? '\\[.*?\\]\\(.*?\\)' : '<a\\s[\\s\\S]*?</a>|<[^>]+>'];
`
but it doesn't work, for example, in the following case... With this content to split :

[code]

it misses @alfazaz because the matcher get all things between `<annotation` and `</a>`.

I think the good

[2019-08-19 16:04] julianlam commented on #113
Looks good! Ideally we would have some tests written so we can easily make changes to the regex and not accidentally introduce regressions. I'll do that and make this change at the same time... :soon:

[2019-08-19 16:05] alfazaz commented on #113
Ok ! Thanks.

[2019-08-20 21:33] julianlam commented on #113
This is taking longer than I expected (due to time constraints and such), but I also discovered that the HTML matcher itself doesn't seem to be working properly... in that it matches all tags. Not sure at this time whether this is intentional or not...

[2019-08-21 07:00] alfazaz commented on #113
Ah... On my site, I see no problem with HTML matcher for now (but I'm not an expert of all possible cases).

[2019-08-21 18:29] #113 closed

[2019-08-21 18:29] julianlam commented on #113
v2.6.0 :smile:

[2019-08-22 18:04] alfazaz commented on #113
Thanks :-)

[2019-08-24 14:35] alfazaz commented on #113
Detail : I don't know why but my nodebb is still on nodebb-plugin-mentions 2.5.2 and it doesn't tell me that there is a 2.6.1 version on admin/extend/plugins#upgrade...

Is it normal ?

[2019-08-24 15:51] julianlam commented on #113
Could be that latest mentions requires latest development version of NodeBB. You could probably install the latest version of mentions via npm however

[2019-08-25 08:14] alfazaz commented on #113
Ok. Thanks.

[2019-09-03 10:04] magnusvhendin commented on #60
This should probably be closed. @julianlam

[2019-09-03 10:08] magnusvhendin opened #114 "Use FULLNAME instead of USERNAME"
I'm working for a client that wants their forum a bit more formal, and would like to use `fullname` instead of `username`. Would be awesome if this could be a setting in the admin panel. `username` could still be the identifier, but `fullname` the display name.

If I get some spare time I will have a go at implementing a solution and do a pull request, but right now other things have higher priori

[2019-09-03 12:46] #60 closed

[2019-09-04 15:01] julianlam commented on #114
While this is possible, "Full Name" is not a required profile setting, and so toggling such an option on might cause issues if the field is left blank in their profile.

[2019-09-04 15:04] magnusvhendin commented on #114
I agree, but having it as the preferred display variable. The username could still be the identifier.

[2019-09-04 15:23] #114 closed

[2019-09-04 15:25] julianlam commented on #114
v2.7.0

[2019-09-07 16:55] alfazaz opened #115 "server shutdown since 2.7.0 on nodebb 1.12.2"
Hello !

When I upgrade from nodebb-plugin-mentions 2.6.1 (which works well) to 2.7.0, my nodebb 1.12.2 server crashes when on usual pages (no problem on ACP). Here are the logs :

If nodebb-plugin-mentions@2.7.0 is not compatible with nodebb 1.12.2 (but with master), it shouldn't be installable on nodebb 1.12.2.

Hope it's not a personal mistake ;-)...

[2019-09-07 18:27] barisusakli commented on #115
Yeah I think 2.7.0 is only compatible with master so package.json needs the compat. string updated.

[2019-09-07 18:58] alfazaz commented on #115
Ok. Thanks.

[2019-09-09 15:42] julianlam commented on #115
My apologies, I'll deprecated 2.7.0 and republish 2.7.1 shortly.

[2019-09-09 16:01] julianlam commented on #115
nbbpm now recommends v2.6.1 as latest got NodeBB v1.12.1

https://packages.nodebb.org/api/v1/suggest?package=nodebb-plugin-mentions&version=1.12.2

[2019-09-09 16:01] #115 closed

[2019-09-09 17:10] alfazaz commented on #115
Ok... You should do the same thing with nodebb-plugin-composer-default (the last good version for nodebb 1.12.2 seems to be the 6.3.6 and it still proposes to upgrade to 6.3.11 in /admin/extend/plugins#upgrade ).

[2019-09-09 17:30] julianlam commented on #115
Thanks for the heads-up! I do recall something similar happened to another package but couldn't remember which package it was.

[2019-09-09 17:41] alfazaz commented on #115
;-)

[2019-09-09 17:47] julianlam commented on #115
v6.3.9 of composer-default should work with v1.12.2. If it doesn't, please let me know what the error is. I don't see any breaking changes besides the most recent one introduced in v6.3.10

[2019-09-09 17:52] alfazaz commented on #115
Ok. I will redo tests and open an issue if necessary on composer-default repository.

[2019-09-09 17:59] alfazaz commented on #115
After tests, there seems to be no problem with nodebb v1.12.2 and composer-default@6.3.9 for now.

[2019-09-09 18:09] julianlam commented on #115
Thank you -- 6.3.10/11 have been deprecated and nbbpm reflect this now.

[2019-09-12 13:20] PostMidnight opened #116 "Undefined mention link"
Hi @julianlam
Small typo in library.js:
results.uid should be results.user.uid.

`? '<a class="plugin-mentions-user plugin-mentions-a" href="' + nconf.get('url') + '/uid/' + results.user.uid + '">' + match + '</a>'
`

[2019-09-12 14:36] #116 closed, assigned to barisusakli

[2019-09-13 12:42] PostMidnight commented on #108
Finally I figured it out, we can do it ;)
Since we need to change the core a bit, with your permission I'll post the code in nodebb.

[2019-09-13 13:16] #108 closed

[2019-12-12 15:08] alfazaz opened #117 "Mentions strange sort with groups"
Hello !

I don't understand sort of mentions autocomplete list. For example, when I begin to type `@a`

 in composer on nodebb community forum, it gives
![image](https://user-images.githubusercontent.com/9592199/70723062-9544c280-1cf8-11ea-8870-80fe8ec98a25.png)

Is it possible to have a greatest sorting ? If `@a` is typed, only propositions beginning with the `a` letter should be proposed at firs

[2019-12-12 15:15] alfazaz opened #118 "Make autocomplete mentions dropdown scrollable"
Hello !

When we type a mention in composer, an autocomplete dropdown is showing but it is limited to 10 items. It can be tricky when many mentions are beginning with same chars. For example, on my forum, if I begin to type `@Promo`, it gives this :
![image](https://user-images.githubusercontent.com/9592199/70724101-439d3780-1cfa-11ea-94a7-372c71ed285a.png)
and it's not possible to see Promo 19-20

[2019-12-12 15:22] alfazaz opened #119 "Autocomplete mentions not always working"
Hello !

I have on my nodebb forum groups named like this :

Promo 00-01        (slug = promo-00-01)
Promo 01-02        (slug = promo-01-02)
Promo 02-03        (slug = promo-02-03)
Promo 03-04        (slug = promo-03-04)
etc...

When I type in composer `@Promo`, it shows well a dropdown with these groups :
![image](https://user-images.githubusercontent.com/9592199/70724478-f66d9580-1cfa-11ea-8d1c-

[2019-12-12 15:40] alfazaz opened #120 "Missing french translations"
Hello !

There are missing french translations in languages/fr/notifications.json. Here is a proposition :
[code]
If think it can be easily adjusted ;-) .

[2020-01-02 16:32] #120 closed

[2020-01-02 16:32] julianlam commented on #120
v2.7.4

[2020-01-02 17:25] alfazaz commented on #120
Thanks and... happy new year ! ;-)

[2020-01-03 13:28] alfazaz commented on #120
@julianlam There is something wrong with npmjs synchro ?

[2020-01-03 19:16] julianlam commented on #120
Should be good now

[2020-01-03 19:33] alfazaz commented on #120
Yes, thanks !

[2020-01-11 21:44] yossizahn opened #121 "The regex that detects mentions is assuming English (and similar) languages"
The regex that detects "mentions" is assuming that an `@` character is only the start of a mention if it follows a whitespace character (or a very limited number of other characters).
This assumption isn't true in other languages where a preposition may be expressed by prefixing the subject word.
e.g. In English we say "... that @XYZ said..."
In Hebrew this is written as: "ש-@XYZ אמר", or even as

[2020-01-14 21:00] julianlam commented on #121
Understood, but unfortunately I had to make concessions as to how the mentions regex matcher works...

For example, I don't want it to trigger the mentions autocomplete dialog when you simply type an email address (e.g. whatever@example.com)

Unfortunately, I can't think of a solution around this. Do other services provide mentions in this manner?

I am attempting to try with GitHub right now, but

[2020-01-14 21:13] yossizahn commented on #121
Perhaps detect and linkify mentions anywhere they occur but only trigger the autocomplete when after a whitespace.

Github seems to be quite clever about this and only linkifies mentions which are not proceeded by [0-9a-zA-Z]
It is also has stricter rules for triggering autocomplete than for linkifying.

[2020-01-14 22:58] julianlam commented on #121
Right... and just like GitHub (not that I'm comparing or anything), we also have separate logic for linkifying mentions vs. spawning the autocomplete dialog.

They each have their own regex, although they are for all intents and purposes identical when it comes to matching a mention.

It's because of unicode characters that we couldn't simply check for the word boundary meta character `\b`... we c

[2020-01-15 17:51] julianlam commented on #117
You're correct, it's bugged out, and has been for quite some time. What's _supposed_ to happen is a list of matching users and groups are returned. It doesn't seem like the groups are filtered properly (or at all!) :smile:

[2020-01-15 18:14] barisusakli commented on #117
Looks like it's matching anything that contains `a` instead of those starting with `a`. Might be intentional.

[2020-01-15 20:07] alfazaz commented on #117
If it is intentional, it's not great because of the limitation to ten items in the dropdown...

For example, if I have many groups with close names (promo-00-01, promo-01-02, etc...), we can't see all of these (see https://github.com/julianlam/nodebb-plugin-mentions/issues/118) and there can be unshowed items in dropdown also by a replacement by other terms which don't begin with p letter...

I th

[2020-01-16 13:19] yossizahn commented on #121
Anything is better than nothing :)
The main issue is actually not the auto-complete or the linkifying but the fact that the user doesn't get notified about the mention.
Fixing it server side is enough for that.

[2020-03-10 09:54] magnusvhendin opened #122 "FULLNAME in autocomplete"
Hi!
You recently added fullname, as a choice. Would it be possible to make the fullname show up in the autocomplete when you use the composer as well? I've read a lot of source code and have come to the conclusion that it might be hard to do without official support from you.

[2020-11-16 16:20] roghaye-m opened #129 "Mentions do not work properly for followed topic"
I have not selected this option.

![image](https://user-images.githubusercontent.com/37838903/99278893-dd436200-2844-11eb-9884-96673733faa5.png)

But when a user follows a topic, he does not receive a separate notification for mentions

[2020-11-16 17:05] barisusakli commented on #129
Maybe [this](https://github.com/NodeBB/NodeBB/issues/8787) conflicts with this option

[2020-11-16 17:07] julianlam commented on #129
Oh wow, looks like I solved the problem 2x. Once by disabling mentions for followed topics, and another time with the mergeUid. I think I will revert the newer one.

[2020-11-16 17:11] julianlam commented on #129
Try with v2.13.5 please

2fbde60720416bd0affbdd1b3f724ca2a695d4a7

[2020-11-16 17:11] #129 closed

[2021-05-06 23:06] julianlam commented on #122
Done  by @gasoved

[2021-06-01 16:52] chezfo opened #136 "Rename the references to the username"
When changing a username
The mentions remain ownerless
I am asking for a plugin that solves the problem
That when the username changes, along with it The mentions change to the new name

The idea can be improved
That when the previous name is mentioned, in the combination of @, the new name will be registered as a mention

https://community.nodebb.org/topic/15579/rename-the-references-to-the-usern

[2021-06-04 14:38] julianlam commented on #136
Handled in #50

It may seem like #50 is an abandoned issue, but this has recently been top of mind, so I will look into this again, time permitting :smile:

Thanks for reporting!

[2021-06-04 14:39] #136 closed

[2021-06-04 14:45] julianlam commented on #50
Bumping.

The crux of the problem here is I have a **strong** stance against parsing on the way in. Right now, for UX purposes, the end user sees something like `@username` in the composer, and I wouldn't want to change the syntax into a more unfriendly one like `[@mention ](/uid/3)`.

The solution would probably have to be some sort of one-time exception to this informal rule...

The syntax would

[2021-06-07 17:39] chezfo commented on #50
_The syntax would be something like @123|mention, where if the user puts @mention, then it is changed to @123|mention prior to saving. The canonical syntax would be @123, which we'd replace the uid with the username_

While this solution does solve the problem,
But before saving, the text will not be set as a link, so it will not be possible to see in the preview window that it is indeed mentioned

[2021-06-07 20:24] pitaj commented on #50
Huh? Mentions link you to their user page.

[2021-08-30 09:20] renovate[bot] opened #142 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Rate Limited

These updates are currently rate limited. Click on a checkbox below to force their creation now.

 - [ ] chore(deps): update dependency mocha to v9
 - [ ] fix(deps): update dependency async to v3
 - [ ] fix(deps): update dependency html-entit

[2021-11-18 01:09] boydaihungst opened #156 "actionPostPurge throw error"
I got error below when I try to purge a post or a topic with admin account
This is repo: https://github.com/boydaihungst/nodebb-mensions-error
Using this command to start  `docker-compose up --build`
[code]

[2021-11-18 01:49] #156 closed

[2021-11-18 01:49] barisusakli commented on #156
@boydaihungst thanks for reporting, fixed in nodebb-plugin-mentions@3.0.3

[2021-11-18 09:34] gwynnarth opened #157 "TypeError: Cannot read property 'pid' of undefined in `actionPostPurge`"
Hello,

purging a post causes the following error to be thrown:

[code]

Obviously the mentions objects (if they exist) are not deleted from a database either.

NodeBB version: 1.18.6
nodebb-plugin-mentions version: 3.0.2

Let me know if you need more info, but this is pretty straightforward to reproduce ;-)
Thanks!

[2021-11-18 14:22] pitaj commented on #157
#156

[2021-11-18 14:22] #157 closed

[2021-12-13 15:10] gradiian opened #163 "Mentions causing NodeBB to crash when purging topic"
NodeBB version: 1.18.6
Plugin version: 3.0.2

When attempting to purge a topic, NodeBB crashes. It eventually does purge the topic on the third attempt. The topic was created by the admin account and included posts from a test moderator account. I deleted the topic as admin and purged as admin.

[code]

[2021-12-13 15:11] barisusakli commented on #163
https://github.com/julianlam/nodebb-plugin-mentions/issues/156

[2021-12-13 15:11] #163 closed

[2022-01-24 19:25] barisusakli opened #170 "cant mention turkish usernames"
Create two users
username 1: `Muhammed lkan Coskun`
username 2: `Muhammed İlkan Coşkun`

Clicking reply on their posts adds the mention into the post body but username 2 can't be mentioned.

Did some console.log in parse method seems regex doesn't get the complete username for username 2

[code]

[2022-01-25 23:01] #170 closed

[2022-01-25 23:03] barisusakli commented on #170
Got the fix from https://github.com/julianlam/nodebb-plugin-mentions/blob/master/static/autofill.js#L59, since selecting these usernames from the autofill dropdown was working, turns out the autofill dropdown is preserving the case so the turkish capital i wasn't converted into a weird character.

[2022-01-26 02:32] julianlam commented on #170
:clap: for the fix, looked like a tough one to narrow down

[2022-02-23 19:46] roghaye-m opened #174 "changes didn't save"
hi, I changed some of setting in ACP (/admin/plugins/mentions)
but when I clicked on save button, it didn't work.
I use  NodeBB v1.19.3.

[2022-02-23 20:00] barisusakli commented on #174
What version of the mentions plugin? Any errors in the browser console?

[2022-02-23 20:12] roghaye-m commented on #174
the Latest version, 3.0.5
![image](https://user-images.githubusercontent.com/37838903/155400278-7f8559f2-b77d-4305-9fea-c90a6b195255.png)

[2022-02-23 20:13] barisusakli commented on #174
Latest is 3.0.6, please try that.

[2022-02-23 20:16] roghaye-m commented on #174
It didn't available on ACP panel

[2022-02-23 20:26] barisusakli commented on #174
Yeah that's a know issue https://github.com/NodeBB/nodebb-package-manager/issues/26, try installing via cli

[2022-02-23 20:32] julianlam commented on #174
Markdown is pinned and bundled so it isn't upgradable from ACP. I'll backport it to the release branch.

[2022-02-23 20:38] #174 closed

[2022-03-01 17:31] AliCihan opened #176 "erased usernames "[[global:former_user]]" are suggested by the plugin"
composer is suggesting non-existent users since they have posts under the topic.

<img width="367" alt="Screen Shot 2022-03-01 at 12 25 17 PM" src="https://user-images.githubusercontent.com/52054408/156218467-671349fc-5782-411a-9077-374938355aa3.png">

[2022-03-01 17:53] #176 closed

[2022-03-01 17:54] barisusakli commented on #176
nodebb-plugin-mentions@3.0.7, let me know if it works on 3.0.7

[2022-04-29 08:01] MaxWaldorf opened #185 "compatibility with latest nodebb v1.19.6+"
Looking at the logs it says:

warn: [plugins/load] DEPRECATION The hook action:post.purge has been deprecated as of v1.19.6, and slated for removal in v2.1.0. Please use action:posts.purge instead.

[2022-04-30 14:11] #185 closed

[2022-08-29 13:58] cisnerosebastian commented on #70
is there an update on this issue? 6 yeras later, this bug is still there.